APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite

PHILSMS_API_TOKEN=
PHILSMS_SENDER_ID=AZAutoZol
PHILSMS_BASE_URL=https://dashboard.philsms.com/api/v3
